h6 {
  color: darkblue;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: square;
  list-style-position: outside;
  padding-bottom: 15px;
}

strong {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background: yellow;
}

em {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#intro {
  padding-left: 25px;
}